<div class="container">

  <h1>Gráficos por Resposta</h1>

  <div class="ui-g">

    <div class="ui-g-12">
      <form #formCarregaGrafico="ngForm" autocomplete="off" (ngSubmit)="carregarPerguntasPorFormulario()">
        <div class="ui-g-12 ui-md-3">
          <div class="ui-g-4">
            <label>Campanha</label>
          </div>
          <div class="ui-g-8">
            <p-dropdown name="campanhaSelecionada" [autoWidth]="true" [filter]="true" [options]="campanhas" placeholder="Selecione "
              [(ngModel)]="campanhaSelecionada" (onChange)="carregarFormularios()" required></p-dropdown>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="ui-g-4">
            <label>Formulário</label>
          </div>
          <div class="ui-g-8">
            <p-dropdown name="formularioSelecionado" [autoWidth]="true" [filter]="true" [options]="formularios" placeholder="Selecione"
              [(ngModel)]="formularioSelecionado" required></p-dropdown>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3" style="text-align: center">
          <button pButton type="submit" label="Carregar Gráficos" [disabled]="formCarregaGrafico.invalid"></button>
        </div>
        <div class="ui-g-12 ui-md-3" style="text-align: right">
          <button pButton type="button" label="Voltar para Dashboard" (click)="voltarDashboard()" class="ui-button-info"></button>
        </div>
      </form>
    </div>

    <div class="ui-g-12 ui-md-6" *ngFor="let graf of respostaFormulario">
      <p-panel [header]="graf.title">
        <p-chart type="horizontalBar" [data]="graf" [options]="optionsRespostas"></p-chart>
      </p-panel>
    </div>

  </div>

</div>