<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Administrador</li>
    <li class="navbar-menuitem" routerLinkActive="ativo">
      <a routerLink="/perguntas">Perguntas</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo">
      <a routerLink="/formularios">Formulários</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/campanhas">Campanhas</a>
      </li>
      <li class="navbar-menuitem" routerLinkActive="ativo">
          <a routerLink="/atendimento">Atendimento</a>
        </li>
    <li class="navbar-menuitem">
      <a href="#">Logout</a>
    </li>
  </ul>

</nav>