<form #formAddPergunta="ngForm" autocomplete="off" (ngSubmit)="salvarPergunta(formAddPergunta)">

  <div class="ui-g">

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text" name="nome" [(ngModel)]="pergunta.nome" #nome="ngModel" required minlength="5" [disabled]="perguntaSalva">

      <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
      <app-message [control]="nome" error="minlength" text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input pInputText type="text" name="descricao" [(ngModel)]="pergunta.descricao" #descricao="ngModel" required minlength="5"
        [disabled]="perguntaSalva">

      <app-message [control]="descricao" error="required" text="Informe a descrição"></app-message>
      <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Tipo</label>
      <p-dropdown name="tipo" [options]="tipos" [(ngModel)]="pergunta.tipo" [autoWidth]="false" placeholder="Selecione" #tipo [disabled]="perguntaSalva"></p-dropdown>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar Pergunta" [disabled]="formAddPergunta.invalid" [disabled]="perguntaSalva"></button>
      <button pButton type="button" label="Cancelar" class="ui-button-danger" (click)="fecharDialog(formAddPergunta)" [disabled]="perguntaSalva"></button>
    </div>

  </div>
</form>

<form #formAddOpcoes="ngForm" autocomplete="off" (ngSubmit)="salvarOpcoes(formAddOpcoes)">
</form>
<div class="ui-g" *ngIf="respostaTipo === 'RespostaUnica' || respostaTipo === 'MultiplaEscolha'">
  <!--<div class="ui-g-12 ui-fluid">
      <label>Quantidade de Opções</label>
      <p-selectButton name="qtdOpcao" [options]="qtdOpcoes" [(ngModel)]="qtd" (click)="escrever()"></p-selectButton>
    </div>-->

  <!--<div *ngFor="let op of opcoes" class="ui-g-12 ui-fluid">-->
  <label>Opção</label>
  <input pInputText type="text" name="opcao">
  <button pButton type="submit" label="Adicionar Opção" (click)="escrever()"></button>
  <!--</div>-->

  <div *ngFor="let op of listaOpcao" class="ui-g-12 ui-fluid">
    <label>{{op.nome}}</label>
  </div>

  <div class="ui-g-12">
    <button pButton type="submit" label="Salvar" [disabled]="formAddOpcoes.invalid"></button>
    <button pButton type="button" label="Cancelar" class="ui-button-danger" (click)="fecharDialog(formAddOpcoes)"></button>
  </div>
</div>